<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
  </head>
 
  <body>
    {% if user.is_authenticated %}
      {% include 'logged_in_menu.html' %}
    {% else %}
      {%  include 'menu.html' %}
    {% endif %}
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
