<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="{% if nbar == 'profile' %}active{% endif %}" id="menu_your_profile_button">
          <a href="/accounts/profile/">Your Profile</a></li>
        <li class="{% if nbar == 'pchange' %}active{% endif %}" id="menu_password_change_button">
          <a href="/accounts/password_change/">Change Password</a></li>
        <li class="{% if nbar == 'addkey' %}active{% endif %}" id="menu_add_key_button">
          <a href="/keys/">Add Key</a></li>
        <li class="{% if nbar == 'documents' %}active{% endif %}" id="menu_documents_button">
          <a href="/document/">My Documents</a></li>
        <li class="{% if nbar == 'shared' %}active{% endif %}" id="menu_shared_button">
          <a href="/document/shared">Shared Documents</a></li>
        <li class="{% if nbar == 'logout' %}active{% endif %}" id="menu_logout_button">
          <a href="/accounts/logout/">Log Out</a></li>
      </ul>
    </div>
  </nav>
</header>
