<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="{% if nbar == 'home' %}active{% endif %}" id="id_home_button"><a href="/">Home</a></li>
      <li class="{% if nbar == 'signup' %}active{% endif %}" id="id_sign_up_button"><a href="/accounts/signup/">Sign-Up</a></li>
      <li class="{% if nbar == 'login' %}active{% endif %}" id="id_login_button"><a href="/accounts/login/">Log In</a></li>
    </ul>
  </div>
</nav>
</header>
