{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="sign_up_button" type="submit" class="btn btn-default">Sign up</button>
  </form>
{% endblock %}
