{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h1>Change your password</h1>
<form action='/accounts/password_reset/' method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
