{% extends 'base.html' %}

{% block title %}Create Document{% endblock %}

{% block content %}
  <h1>Create Document</h2>
  
  <form method="post">
    {% csrf_token %}
    {{ document_form.as_p }}

    <button id="document_submit_button_id" type="submit" class="btn btn-default">Create Document</button>
  </form>
{% endblock %}
