{% extends 'base.html' %}

{% block title %}Shared documents{% endblock %}

{% block content %}
  <h1>Documents shared to you</h1>
  <table id="documents_table" class="table-bordered"  border="2">
    <tr>
      <th>Document Name</th>
      <th>Document User</th>
      <th>Document Info</th>
      <th>Add Revision</th>
      <th>Share</th>
    </tr>

  {% for document in shared_documents %}
    <tr>
       <td class="document_name"><p>{{ document.document_name }}</p></td>
       <td class="document_user"><p>{{ document.document_user }}</p></td>
       <td class="document_info"><a href="/document/info/{{ document.pk }}/"><p>Document Info</p></a></td>
       <td class="document_revision"><a href="/document/add_revision/{{ document.pk }}/"><p>Add Revision to Document</p></a></td>
       <td class="document_share"><a href="/document/share/{{ document.pk }}/"><p>Share Document</p></a></td>
    </tr>
    {% empty %}
      <tr><p>No documents present.</p></tr>
    {% endfor %}
  </table>
{% endblock %}
