{% extends 'base.html' %}

{% block title %}Document Revisions{% endblock %}

{% block content %}
  <h1>Document Revisions</h1>

  <hr>
  <table id="documents_revisions_table" border="2">
    <tr>
      <td><p>Document Name</p></td>
      <td><p>Download Revision</p></td>
      <td><p>Creation Date</p></td>
      <td><p>Revision Status</p></td>
    </tr>
    {% for revision in revisions %}
      <tr>
        <td><p class="revision_document">{{ revision.revision_document.document_name }}</p></td>
        <td><a class="revision_download" href="{{ revision.revision_contents.url }}")>Download<p ></p></a></td>
        <td><p class="revision_date">{{ revision.revision_time }}</p></td>
        <td><p class="revision_status">
        {% if revision.signature_status.signature_username != None %}
          Signed By: {{ revision.signature_status.signature_username }}
        {% else %} 
          Unsigned
        {% endif %}
        </p></td>
      </tr>
      {% empty %}
        <tr><p>No revisions present. Please create a revision by clicking on "Create Revision"</p></tr>
      {% endfor %}
  </table>
  <a id="id_create_revision" href="/document/add_revision/{{ document_id }}/">Create Revision</a>

{% endblock %}
