{% extends 'base.html' %}

{% block title %}Document Information{% endblock %}

{% block content %}
  <h1>Document Information</h1>
  <p id="id_document_name">Document Name: {{ document.document_name }} </p>
  <p id="id_document_user">Created By: {{ document.document_user.username }} </p>
  {% if last_revision_download != False %}
    <p id="id_latest_revision">Last Revision: <a href = {{ last_revision_download }}>Download</a> </p>
  {% else %}
    <p>No revisions found. Click <a href="/document/add_revision/{{ document.pk }}/">here</a> to add a revision </p>
  {% endif %}
  {% if is_document_owner == True and document.document_is_checked_out == False %}
    <a id="id_document_check_out" href="/document/check_out/{{document.pk}}/">Check Out</a>
  {% elif is_document_owner == True and document.document_is_checked_out == True %}
    <a id="id_document_check_in" href="/document/check_in/{{document.pk}}/">Check In</a>
  {% endif %}

  <p><a id="id_document_revision_list" href="/document/revisions/{{ document.pk }}/">Document Revisions</a></p>
  <p><a href="/document/share/{{ document.pk }}/">Share Document</a></p>
  <p>Shared with users:</p>
  {% for user in shared_users %}
    <p class="users_shared">{{ user.username }}</p>
  {% empty %}
    <p>No users</p>
  {% endfor %}

  <p>Comments</p>
  {% for comment in comments %}
    <p>{{ comment.comment_user }} {{ comment.comment_date }}: {{ comment.comment_contents }}</p>
  {% empty %}
    <p>No Comments</p>
  {% endfor %}
  <h2>Add Comment</h2>
  <form method="post" action="/document/add_comment/{{ document.pk }}/">
    {% csrf_token %}
    {{ add_comment_form.as_p }}
    <button id="add_comment_button_id" type="submit" class="btn btn-default">Add Comment</button>
  </form>
{% endblock %}
