{% extends 'base.html' %}

{% block title %}Create Revision{% endblock %}

{% block content %}
  <h1>Create Revision</h1>
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ revision_form.as_p }}
  <button id="id_revision_submit_button" type="submit" class="btn btn-default">Create Revision</button>
  </form>
{% endblock %}
